body {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-family: monospace;
  background: #222222;
  color: pink;
}

button {
  position: relative;
  font-family: monospace;
  font-size: 16px;
  padding: 10px 16px;
  margin: 10px;
  background: pink;
  outline: none;
  border: none;
  border-radius: 2px;

  transition: all 0.2s;
  cursor: pointer;
  top: 0px;
}

button:hover {
  opacity: .7;
}

button:active {
  top: 4px;
}
/*
#root {
  height: 100%;
  width: 100%;
}
*/

.Nav {
  border: 1px solid white;
}

.NavItems {
  margin: 0 auto;
}

.nav-item {
  display: inline-block;
  margin: 10px 5px;
}

.nav-item a {
  padding: 5px;
  background-color: grey;
}

.nav-item a {
  color: black !important;
}

.nav-item a:visited {
  color: black !important;
}

.nav-item a:hover {
  text-decoration: none;
  outline: 1px solid white;
}

/*.Nav a {
  display: block;
  background-color: grey;
  margin: 2px;
}
*/
.Page {
  margin-top: 50px;
}

.CredentialsForm {
  border: 1px solid lightgrey;
  background-color: grey;
  display: inline-block;
  padding: 10px;
}

.CredentialsForm input {
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 300px;
}

.CredentialsForm .SubmitInput {
  width: 100px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}


.ErrMsg {
  background-color: darkred;
  width: 300px;
  margin: 20px auto;
}
